In [ ]:
#####https://community.neo4j.com/t/how-to-install-neo4j-for-python-jupyter-lab/14181/7
#####pip install py2neo

In [14]:
from py2neo import Graph
graph = Graph("bolt://localhost:7687", auth=("neo4j", "password"))

query = "MATCH (n) DETACH DELETE n"
graph.run(query).data()
query = "MATCH (n) return n"
graph.run(query).data()

[]

In [15]:
query = "CREATE (rupert:Person { firstname: 'Rupert', age: 24, city:'London' }), \
                (nargess:Person { firstname: 'Nargess', age: 21 }), \
                (katherine:Person { firstname: 'Katherine', age: 24, city:'London' })"
graph.run(query).data()

query = "CREATE (sailing:Hobby { name: 'Sailing' }), \
                (travelling:Hobby { name: 'Travelling' }), \
                (champagne:Hobby { name: 'Champagne'})"
graph.run(query).data()

query = "MATCH (p:Person {firstname: 'Rupert'}),(o:Person {firstname: 'Nargess' }) MERGE (p)-[r:KNOWS]->(o)"
graph.run(query).data()
query = "MATCH (p:Person {firstname: 'Rupert'}),(o:Person {firstname: 'Katherine' }) MERGE (p)-[r:IS_MARRIED_TO]->(o)"
graph.run(query).data()
query = "MATCH (p:Person {firstname: 'Rupert'}),(o:Hobby {name: 'Champagne' }) MERGE (p)-[r:LIKES]->(o)"
graph.run(query).data()
query = "MATCH (p:Person {firstname: 'Nargess'}),(o:Hobby {name: 'Travelling' }) MERGE (p)-[r:LIKES]->(o)"
graph.run(query).data()
query = "MATCH (p:Person {firstname: 'Katherine'}),(o:Hobby {name: 'Travelling' }) MERGE (p)-[r:LIKES]->(o)"
graph.run(query).data()
query = "MATCH (p:Person {firstname: 'Nargess'}),(o:Hobby {name: 'Sailing' }) MERGE (p)-[r:LIKES]->(o)"
graph.run(query).data()

[]

In [16]:
query = "MATCH (n) return n"
graph.run(query).data()

[{'n': (_154:Person {age: 24, city: 'London', firstname: 'Rupert'})},
 {'n': (_155:Person {age: 21, firstname: 'Nargess'})},
 {'n': (_156:Person {age: 24, city: 'London', firstname: 'Katherine'})},
 {'n': (_157:Hobby {name: 'Sailing'})},
 {'n': (_158:Hobby {name: 'Travelling'})},
 {'n': (_159:Hobby {name: 'Champagne'})}]

In [18]:
query = "MATCH (a)-[r]-(b) RETURN a, type(r), b"
graph.run(query).data()

[{'a': (_154:Person {age: 24, city: 'London', firstname: 'Rupert'}),
  'type(r)': 'LIKES',
  'b': (_159:Hobby {name: 'Champagne'})},
 {'a': (_154:Person {age: 24, city: 'London', firstname: 'Rupert'}),
  'type(r)': 'IS_MARRIED_TO',
  'b': (_156:Person {age: 24, city: 'London', firstname: 'Katherine'})},
 {'a': (_154:Person {age: 24, city: 'London', firstname: 'Rupert'}),
  'type(r)': 'KNOWS',
  'b': (_155:Person {age: 21, firstname: 'Nargess'})},
 {'a': (_155:Person {age: 21, firstname: 'Nargess'}),
  'type(r)': 'LIKES',
  'b': (_157:Hobby {name: 'Sailing'})},
 {'a': (_155:Person {age: 21, firstname: 'Nargess'}),
  'type(r)': 'LIKES',
  'b': (_158:Hobby {name: 'Travelling'})},
 {'a': (_155:Person {age: 21, firstname: 'Nargess'}),
  'type(r)': 'KNOWS',
  'b': (_154:Person {age: 24, city: 'London', firstname: 'Rupert'})},
 {'a': (_156:Person {age: 24, city: 'London', firstname: 'Katherine'}),
  'type(r)': 'LIKES',
  'b': (_158:Hobby {name: 'Travelling'})},
 {'a': (_156:Person {age: 24, city: 'London', firstname: 'Katherine'}),
  'type(r)': 'IS_MARRIED_TO',
  'b': (_154:Person {age: 24, city: 'London', firstname: 'Rupert'})},
 {'a': (_157:Hobby {name: 'Sailing'}),
  'type(r)': 'LIKES',
  'b': (_155:Person {age: 21, firstname: 'Nargess'})},
 {'a': (_158:Hobby {name: 'Travelling'}),
  'type(r)': 'LIKES',
  'b': (_156:Person {age: 24, city: 'London', firstname: 'Katherine'})},
 {'a': (_158:Hobby {name: 'Travelling'}),
  'type(r)': 'LIKES',
  'b': (_155:Person {age: 21, firstname: 'Nargess'})},
 {'a': (_159:Hobby {name: 'Champagne'}),
  'type(r)': 'LIKES',
  'b': (_154:Person {age: 24, city: 'London', firstname: 'Rupert'})}]

In [20]:
query = "MATCH (rupert:Person { firstname: 'Rupert'})-->(person:Person) RETURN person"
graph.run(query).data()

[{'person': (_156:Person {age: 24, city: 'London', firstname: 'Katherine'})},
 {'person': (_155:Person {age: 21, firstname: 'Nargess'})}]

In [21]:
query = "MATCH (rupert:Person { firstname: 'Rupert'})-->(person:Person) RETURN rupert, person"
graph.run(query).data()

[{'rupert': (_154:Person {age: 24, city: 'London', firstname: 'Rupert'}),
  'person': (_156:Person {age: 24, city: 'London', firstname: 'Katherine'})},
 {'rupert': (_154:Person {age: 24, city: 'London', firstname: 'Rupert'}),
  'person': (_155:Person {age: 21, firstname: 'Nargess'})}]

In [22]:
query = "MATCH (rupert:Person { firstname: 'Rupert'})-[r]->(person:Person) RETURN rupert, type(r), person"
graph.run(query).data()

[{'rupert': (_154:Person {age: 24, city: 'London', firstname: 'Rupert'}),
  'type(r)': 'IS_MARRIED_TO',
  'person': (_156:Person {age: 24, city: 'London', firstname: 'Katherine'})},
 {'rupert': (_154:Person {age: 24, city: 'London', firstname: 'Rupert'}),
  'type(r)': 'KNOWS',
  'person': (_155:Person {age: 21, firstname: 'Nargess'})}]

In [23]:
query = "MATCH (rupert:Person { firstname: 'Rupert'})-->(person)-[:LIKES]->(hobby) RETURN person, hobby"
graph.run(query).data()

[{'person': (_156:Person {age: 24, city: 'London', firstname: 'Katherine'}),
  'hobby': (_158:Hobby {name: 'Travelling'})},
 {'person': (_155:Person {age: 21, firstname: 'Nargess'}),
  'hobby': (_157:Hobby {name: 'Sailing'})},
 {'person': (_155:Person {age: 21, firstname: 'Nargess'}),
  'hobby': (_158:Hobby {name: 'Travelling'})}]

In [25]:
query = "MATCH (rupert:Person { firstname: 'Rupert'})-->(person)-[:LIKES]->(hobby) RETURN person, COUNT(hobby)"
graph.run(query).data()

[{'person': (_156:Person {age: 24, city: 'London', firstname: 'Katherine'}),
  'COUNT(hobby)': 1},
 {'person': (_155:Person {age: 21, firstname: 'Nargess'}), 'COUNT(hobby)': 2}]

In [26]:
query = 'MATCH (n) RETURN count(*)'
graph.run(query).data()

[{'count(*)': 6}]